@import 'https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Sans';

$amatic-sc: Amatic SC, cursive;
$josefin-sans: Josefin Sans, sans-serif;

body{
	font-family: $josefin-sans;
	background: #ffffff url('background.jpg') no-repeat center;
  	background-size: cover;
  	background-attachment: fixed;
}

h1, h2 {
	font-family: $amatic-sc;
	font-size: 3em;
	margin-bottom: 0;
}

h2{
	font-size: 2em;
	margin-top: 0;
}

.header{
	text-align: center;

	.instructions{
		text-align: left;
		line-height: 20px;
	}
}

.timer{
	text-align: center;

	input {
		border: 1px solid black;
		background-color: transparent;
		font-family: $josefin-sans;
		padding: 3px;
		margin-top: 5px;
		width: 60px;
		color: black;

		&:focus{
			outline: none;
		}

		&:hover{
			cursor: pointer;
		}

		&[type=button]{
			width: 8em;
			padding: 13px 0;
			font-size: 1em;
			background-color: transparent;
		}
	}

	#countdown{
		font-size: 2em;
		margin-top: -12px;
		#warning{
			color: red;
		}
	}
}

.winner{
	text-align: center;
	font-size: 24px;
}

#choices{
	img{
		border: 5px solid black;
		width: 60px;
		height: 70px;
	}

	table{
		margin-left: 30px;
		margin-top: -8px;
	}
}

.gamebuttons{
	button{
		width: 60px;
		height: 70px;
		background-size: 60px 70px;
		background-color: transparent;
		border: none;
		margin-left: 30px;
	}
	#rock{
		background-image: url(rock.png);
	}
	#paper{
		background-image: url(paper.png);
	}
	#scissors{
		background-image: url(scissors.png);
	}
}

#score{
	text-align:center;
	#warning{
		color: red;
		font-size: 2em;
		margin-top: -12px;
	}
	table{
		margin-left: 10px;
	}
}

table{
	width: 90vw;
}

.winner{
	margin-top: 1em;
}

.hidden{
	display:none;
}