@import 'https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Sans';

$amatic-sc: Amatic SC, cursive;
$josefin-sans: Josefin Sans, sans-serif;

body{
	font-family: $josefin-sans;
	background: #ffffff url('background.png') no-repeat center;
	background-position: -43px -41px;
  	background-size: 150% 150%;
  	background-attachment: fixed;
}

h1 {
	font-family: $amatic-sc;
	font-size: 3em;
	margin-bottom: 0;
}

.header{
	text-align: center;

	.instructions{
		text-align: left;
		line-height: 22px;
		margin-left: 23px;
		margin-top: 1px;
	}
}

.hidden{
	display:none;
}